In [2]:
import pandas as pd
from pathlib import Path

data_dir = Path("../data/raw")

print("Files found in data/raw:")
for f in data_dir.iterdir():
    print("-", f.name)

# Load data_core.csv
core_path = data_dir / "data_core.csv"
core_df = pd.read_csv(core_path)
print("\n=== data_core.csv ===")
print("Shape:", core_df.shape)
display(core_df.head())

# Load India Agriculture Crop Production.csv
prod_path = data_dir / "India Agriculture Crop Production.csv"
prod_df = pd.read_csv(prod_path)
print("\n=== India Agriculture Crop Production.csv ===")
print("Shape:", prod_df.shape)
display(prod_df.head())

Files found in data/raw:
- data_core.csv
- India Agriculture Crop Production.csv

=== data_core.csv ===
Shape: (8000, 9)

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26.0,52.0,38.0,Sandy,Maize,37,0,0,Urea
1,29.0,52.0,45.0,Loamy,Sugarcane,12,0,36,DAP
2,34.0,65.0,62.0,Black,Cotton,7,9,30,14-35-14
3,32.0,62.0,34.0,Red,Tobacco,22,0,20,28-28
4,28.0,54.0,46.0,Clayey,Paddy,35,0,0,Urea

=== India Agriculture Crop Production.csv ===
Shape: (345407, 10)

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2001-02,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-03,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-04,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2001-02,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2002-03,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296

In [1]:
import pandas as pd

df1 = pd.read_csv("data/raw/data_core.csv")
print("data_core.csv shape:", df1.shape)
df1.head()

FileNotFoundError: [Errno 2] No such file or directory: 'data/raw/data_core.csv'

In [2]:
import os
from pathlib import Path

print("Notebook cwd:", os.getcwd())
print("Notebook file:", Path().resolve())
print("\nListing data/ (if exists):")
print(os.listdir('.') if os.path.exists('.') else "no .")
print("\nListing data/raw (if exists):")
raw = Path("data/raw")
print("Exists:", raw.exists())
if raw.exists():
    print(sorted([p.name for p in raw.iterdir()]))
else:
    # try one level up (notebooks/ case)
    up = Path("..") / "data" / "raw"
    print("Try ../data/raw exists:", up.exists())
    if up.exists():
        print(sorted([p.name for p in up.iterdir()]))

Notebook cwd: D:\ZENITH_PROJ\zenith_project\notebooks
Notebook file: D:\ZENITH_PROJ\zenith_project\notebooks

Listing data/ (if exists):
['.ipynb_checkpoints', '00_data_inventory.ipynb']

Listing data/raw (if exists):
Exists: False
Try ../data/raw exists: True
['India Agriculture Crop Production.csv', 'README.txt', 'data_core.csv']

In [3]:
df1 = pd.read_csv("../data/raw/data_core.csv")
print("shape:", df1.shape)
df1.head()

shape: (8000, 9)

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26.0,52.0,38.0,Sandy,Maize,37,0,0,Urea
1,29.0,52.0,45.0,Loamy,Sugarcane,12,0,36,DAP
2,34.0,65.0,62.0,Black,Cotton,7,9,30,14-35-14
3,32.0,62.0,34.0,Red,Tobacco,22,0,20,28-28
4,28.0,54.0,46.0,Clayey,Paddy,35,0,0,Urea